<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>Document</title>
</head>
<body>
    
    <input type="text" id="searchBox">
    <a onclick="find()">Search Here</a>

    <script>
        function find() {
            const value = document.getElementById("searchBox").value
            console.log(value);
            console.log("------------");
            fetch(`/search2/${value}`)
            .then(res => res.json())
            .then(data => console.log("================",data))
        }


        $(function () {
            $('#searchBox').autocomplete({
                source: function (req, res) {
                    $.ajax({
                        url: '/search',
                        dataType: 'jsonp',
                        type: "GET",
                        data: req,
                        success: function (data) {
                            console.log(data);  
                            // res([{label: "asd"}])
                            res(data.label)
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                },
                minLength: 1,
                select: function (event, ui) {
                    console.log(event);
                    console.log(ui);
                    if (ui.item) {
                        $('#searchBox').text(ui.item.label)
                    }
                }
            })

        })












        

    </script>
</body>
</html>